<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Instalador do Abade Conversor</Name>
    <Version>1.0.0</Version>
    <Title>Abade Conversor</Title>
    <Publisher>Stecken</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>Abade</StartMenuDir>
    <TargetDir>@HomeDir@/AbadeConversor</TargetDir>
</Installer>
